bibimainapp=https://jitpack.io/com/github/Bibiserv/bibiserv/bibimainapp/2.1.0/bibimainapp-2.1.0.war
server_config=https://github.com/BiBiServ/template-server-config/archive/0.1.0.zip
wizard=https://github.com/BiBiServ/bibiserv_dev/releases/download/1.1.0/wizard-1.1.war
codegen=https://github.com/BiBiServ/bibiserv_dev/releases/download/1.1.0/codegen-1.1.jar
